<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Craftsmanship - miniAngular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var miniAngularBridge = {
        pageName: 'RECIPE_DETAILS',
        recipeId: /*[[${recipeId}]]*/ null
    }
    /*]]>*/
</script>

<mini-root></mini-root>

<script type="text/javascript" th:src="@{/miniAngularClient/runtime.js}"></script>
<script type="text/javascript" th:src="@{/miniAngularClient/polyfills.js}"></script>
<script type="text/javascript" th:src="@{/miniAngularClient/styles.js}"></script>
<script type="text/javascript" th:src="@{/miniAngularClient/vendor.js}"></script>
<script type="text/javascript" th:src="@{/miniAngularClient/main.js}"></script>

</body>
</html>
