<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Craftsmanship - miniAngular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var miniAngularBridge = {
        pageName: 'RECIPE_DETAILS',
        recipeId: /*[[${recipeId}]]*/ null
    }
    /*]]>*/
</script>

<mini-root></mini-root>


<script th:each="res: ${resources}" th:with="baseUrl=('/miniAngularClient/' + ${res})" type="text/javascript"
        th:src="@{(${baseUrl})}"></script>

</body>
</html>
